@font-face {
  font-family: "karla";
  src: url("../assets/font/Karla-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "futura";
  src: url("../assets/font/futura.ttf");
  font-weight: normal;
  font-style: normal;
}
