header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logos {
  display: flex;
}

.logo--petit {
  display: block;
  position: absolute;
  left: 6%;
  top: 5%;
  height: 17%;

  @media (min-width: 768px) {
    display: none;
  }
}

.logo--grand {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    left: 5%;
    top: 2%;
    height: 60%;
  }

  @media (min-width: 1080px) {
    height: 75%;
  }
}
.logo--texte {
  width: 75%;
  padding-left: 38%;
  padding-top: 15%;
  margin-bottom: 10%;

  @mixin medium {
    padding-left: 36%;
    padding-top: 5%;
    width: 70%;
  }

  @mixin large {
    padding-left: 40%;
  }
}

.header__menu {
  display: none;
  justify-content: flex-end;
  width: 50%;
  margin-right: 4%;
  margin-top: 2%;

  @media (min-width: 768px) {
    display: flex;
  }

  .menu a {
    text-decoration: none;
    color: $primary-black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;

    &:hover {
      color: $secondary-yellow;
    }
  }
}
