.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider__slides {
  display: flex;
  transition: transform 0.3s;
  width: 360vw;
}

.slider__slide--seasonly {
  background-image: url("../assets/img/Artboard_2.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  padding: 10%;
  height: 80vh;
  width: 25%;
  object-fit: cover;
}

.slider__encart {
  background-color: white;
  width: 250px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  top: 2%;
  left: 7%;
  padding: 24px;
}

.slider__encart h3 {
  text-transform: uppercase;
  font-size: 2vh;
}

.encart__img--seasonly {
  margin: 0 auto;
  width: 50%;
}

.encart__texte {
  font-size: 10px;
  line-height: 150%;
}

.encart__voir {
  background-image: url("https://cdn.shopify.com/s/files/1/0072/0561/7711/files/Calque_14.png?8187");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center bottom;

  :hover {
    font-style: italic;
  }
}

.slider__slide--joone {
  background-image: url("../assets/img/Artboard_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10%;
  height: 80vh;
}

.encart__img--joone {
  margin: 0 auto;
  width: 40%;
  height: auto;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  width: 25px;

  :hover {
    fill: #ffcd1a;
  }
}

.slider__arrow--left {
  transform: rotate(180deg);
  left: 3%;
}

.slider__arrow--right {
  right: 3%;
}
