.slider__slide--seasonly {
  background-image: url("../assets/img/Artboard_2.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 140%;
  background-position: center;
}

.slider__encart {
  background-color: white;
  margin-left: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.slider__encart h3 {
  text-transform: uppercase;
  font-size: 2vh;
}

.encart__img {
  width: 70%;
}

.encart__texte {
  p {
    font-size: 12px;
  }
}

.encart__voir p {
  background-image: url("https://cdn.shopify.com/s/files/1/0072/0561/7711/files/Calque_14.png?8187");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center 150%;
}
