@import "reset.scss";

@import "font.scss";
@import "variables.scss";

@import "header.scss";
@import "heroHeader.scss";
@import "clients.scss";
@import "slider.scss";
@import "textInfini.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "karla";
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}
