.defile__content {
  display: block;
  padding: 2px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #ffcd1a;

  @media (min-width: 768px) {
    height: 70px;
    padding: 5px;
  }
}

.defile__message {
  color: white;
  display: block;
  margin-left: -100%;
  font-size: 20px;
  line-height: 200%;
  text-align: left;
  animation: defilement 14s infinite linear;
  font-weight: bolder;

  @media (min-width: 768px) {
    font-size: 26px;
    animation: defilement 10s infinite linear;
  }
}

.defile__message:after {
  content: attr(data-text);
  position: absolute;
  white-space: nowrap;
}

@keyframes defilement {
  0%,
  100% {
    margin-left: 0;
  }
  99.99% {
    margin-left: -100%;
  }
}
